[Unit]
Description=Run osp-dashboard2 auto-deploy check every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=osp-dashboard2-autodeploy.service

[Install]
WantedBy=timers.target
